[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt
[submodule "doctest"]
	path = doctest
	url = https://github.com/onqtam/doctest
[submodule "bitops"]
	path = bitops
	url = https://github.com/lionkor/bitops
[submodule "SFML"]
	path = SFML
	url = https://github.com/SFML/SFML
